:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  background-color: plum;

}

body {
  height: 100vh;
  padding:0 0 ;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
  text-align: center;
}


.footer {
  width: 100vw;
}

.home-page {
  margin: auto;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1.home-H1 {
  margin-top: 0;
  margin-bottom: 0.25em;

}

.home-container{
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: plum;
  gap: 10px;

}

.blog-container {
  background-color: aliceblue;
  margin: 10px 0;
  padding: 1rem;
}

.blog-container h2 {
  font-size: 2rem;
}

.user-container {
  max-height: 80vh;
  overflow: scroll;
  background-color: #242424;
  align-content: center;
}

.user-container h2 {
  color: whitesmoke;
  margin-block: 0.5em;
  background-color: #333;
  position: sticky;
  top: 0;
}

.blogs-column-container {
  background-color: aliceblue;
  text-align: left;
  max-height: 80vh;
  overflow: scroll;
}
.blogs-column-container h2.h2{
 text-align: center;
}

.blogs-column-container .spinner {
  align-self: center;
}

.read-blog{
  padding: 1rem;
}
.read-blog h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.read-blog p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
 
}
.date-span{
  font-size: 0.8em;
  font-weight: bolder;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.profile .user-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile .user-container h2{
  display: none;
}
.profile .user-container .prof-container {
  background-color: #646cff;
  width: 400px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card-feedback-submit {
  align-items: center;
  margin-block: 1rem;
  font-family: cursive;
  font-weight: 800;
}

.container {
  width: 300px;
  height: 320px;
  background-color: #343541;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  width: 100%;
  height: 40px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar a {
  color: #6B6C7B;
  white-space: nowrap;
  margin-left: 10px;
  user-select: none;
}

.close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.line {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #6B6C7B;
  border-radius: 30px;
}

.line.one {
  transform: rotate(45deg)
}

.line.two {
  transform: rotate(135deg)
}

.messages-area {
  background-color: green;
  width: 100%;
  height: 210px;
}

.sender-area {
  background-color: #343541;
  width: 100%;
  height: 70px;
  display: flex;
  border-radius: 8px;
}

.message {
  width: 100%;
  height: 40px;
}

.message.one,
.message.three,
.message.five {
  background-color: #2E2F3A;
}

.message.two,
.message.four,
.message.six {
  background-color: #343541;
}

.send-img {
  width: 30px;
}

.send-input {
  outline: none;
  display: flex;
  border: none;
  background: none;
  height: 40px;
  width: 230px;
  border-radius: 7px;
  background: none;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5px;
}

.send-input::placeholder {
  color: #828E9E;
}

.input-place {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 10px;
  align-items: center;
  background-color: #40414F;
  border-radius: 7px;
  height: 40px;
  width: 280px;
  gap: 5px;
  border: 1px solid #2E2F3A;
}

.send {
  width: 30px;
  height: 30px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.send-icon {
  width: 17px;
}


.profile-prof {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0.5em;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-section p {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 600;
}

.card-feedback {
  align-self: center;
  background-color: wheat;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.form-feedback {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
}

.form-feedback .group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}

.form-feedback .group input,
.form-feedback .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.form-feedback .group input:placeholder-shown+ label, .form-feedback .group textarea:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}

.form-feedback .group input:focus,
.form-feedback .group textarea:focus {
  border-color: #3366cc;
}

.form-feedback .group input:focus+ label, .form-feedback .group textarea:focus +label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.form-feedback .group textarea {
  resize: none;
  height: 100px;
}

.form-feedback button {
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-feedback button:hover {
  background-color: #27408b;
}



@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
   .home-container {
    grid-template-columns: 1fr;
  }

  .profile, .profile-prof {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    
  }
   .profile .user-container {
    max-width: 100vw;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 1rem;
  }
   .home-container .user-container {
    max-width: 100vw;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .home-container .user-container h2{
    align-self: center;
    justify-self: center;
  }
  .home-container .user-container .offscreen {
    display: none;
  }
   .profile .user-container .prof-container {
    width: 100%;
  }
   .card-feedback {
    width: 100%;
  }
}
 @media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
   .home-container {
    grid-template-columns: 1fr;
  }
  .profile, .profile-prof {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    
  }
   .profile .user-container {
    max-width: 100vw;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 1rem;
  }
   .home-container .user-container {
    max-width: 100vw;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .home-container .user-container h2{
    align-self: center;
    justify-self: center;
  }
  .home-container .user-container .offscreen {
    display: none;
  }
   .profile .user-container .prof-container {
    width: 100%;
  }
   .card-feedback {
    width: 100%;
  }
}